body {
  font-family: Arial, sans-serif;
  background: rgb(21,18,65);
  background: linear-gradient(90deg, rgba(21,18,65,1) 10%, rgba(9,127,148,1) 65%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.content-left {
  max-width: 50%;
  padding: 45px;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  width: 100%;
  text-align: center;
  margin-right: 10%;
}
input[type="text"], input[type="password"], input[type="submit"], input[type="button"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 5px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
input[type="submit"], input[type="button"] {
  background-color: #097F94;
  color: white;
  border: 5px solid #ccc;
  cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover {
  background-color: white;
  color: #097F94;
}
.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.logo {
  text-align: center;
  margin: 1px 0 1px 0;
}
.welcome-message {
  color: white;
  text-align: center;
  font-size: 3em;
}
.intro {
  color: white;
  text-align: justify;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* Mobile phone screens */
@media (max-width: 576px) {
  body {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
  }

  .content-left, .container {
    max-width: 100%;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px; /* Add some space between sections */
  }

  .welcome-message {
    font-size: 1.5em;
  }

  .intro {
    font-size: 0.9em;
    margin-top: 10px;
  }

  .container {
    padding: 20px;
    max-width: 75%;
    margin-right: 0.5%;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom */
  }
}